<style>
    div.scrollmenu {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
      }
      
      div.scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
      }
      
      div.scrollmenu a:hover {
        background-color: #777;
      }
</style>

{% include 'cours_struct.html' %} <!-- <p>import et inclu dans le site, la partie de la présentation du cours et des stats qui vont avec</p> -->
        <h1 style="text-align:center;">2) résultats pour un exercice demandé</h1>
    <p style="text-align:center;"> marquez ici le nom de la tâche sûr laquelle vous souhaitez faire des recherches</li><p>
<center>
<form method="POST">
<input list="liste_tache" type="text" name= "name_tache", >
<input type= "submit">
<datalist id="liste_tache">
    {{proposition|safe}}
</datalist>
  </form>
  <br>
  <center>
  <FONT COLOR="#ff0000">  {{name_task}}</FONT>
  </center>
  <!-- <p>utilise la methode Post pour chercher dans la base de donée la tâche demandée</p> -->
    </p>
</script>
</body>
</html>
    <br>
    <br>
    <br>
    <br>
    <center>
    <div class="scrollmenu">

    <a  href="{{ url_for('LEPL1402') }}" >LEPL1402</a>

    <a  href="{{ url_for('LSINF1252') }}" >LSINF1252</a>

    <a  href="{{ url_for('LSINF1101_PYTHON') }}" >LSINF1101_PYTHON</a>
    </center>
    <!-- <p>liens pour changer de cours</p> -->
    <br>
    <br>
