<!DOCTYPE html>
<html>
<head>
<title>INGInious stat v2.0</title>
</head>
<style>
  body { 
  background-image: url("https://cdn.pixabay.com/photo/2017/07/31/21/42/wallpaper-2561368_960_720.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  }
  <!-- <p>importe et inclut dans le site, la barre de menu permettant de revenir à la page principal ou d'aller sur ingénious</p> -->
  {% include 'menu_barre.html' %} 

  


  <br>
  <br>
  <br>
  

<p style="text-align:center;"; ><FONT size="10pt">INGIgraphe</p></FONT>
  <br>
<p style="text-align:center;">Bienvenue, ce site à pour but de regrouper toutes les informations récoltées à propos des exercices inginious afin de vous permettre une vision d'ensemble </p>
<!-- <p>liens des différents cours</p> -->
<center>
    <li><a href="{{ url_for('LEPL1402') }}">LEPL1402</a></li>
    <li><a href="{{ url_for('LSINF1101_PYTHON') }}">LSINF1101_PYTHON</a></li>
    <li><a href="{{ url_for('LSINF1252') }}">LSINF1252</a></li>
    <br>
    <!-- <p>liens pour changer de cours</p> -->

  </p><img src= "https://inginious.org/pages/assets/welcome/logo_full.png" alt=
  "dessin logo ingénious" width="350" height="500" ></p>
 
    </script>
</body>
</FONT>
  <br>
  <br>
