<!DOCTYPE html>
<style>
body {
  background-image: white ;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
                                                                    <!– partie dédier au background –>


<head>
    <meta charset ="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title >failedrate.be</title>
<body>
    <h1>statistiques sur le cours ...</h1>
    <canvas id="pie-chart" width="800" height="450"></canvas>
    <canvas id="pie-chart2" width="800" height="450"></canvas>
    <script>
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
            labels: ["finit", "En cours"],
            datasets: [{
                label: "taux de réussite",
                backgroundColor: ["green", "red"],
                data: [100,20]            
            }]
            },
            options: {
            title: {
                display: true,
                text: 'Nombre d étudiants ayant finit le cours'
            }
            }
        });
        new Chart(document.getElementById("pie-chart2"), {
            type: 'doughnut',
            data: {
            labels: ["soumissions réussites", "soumissions ratées","soumissions dépassant la mémoire","soumissions time error"],
            datasets: [{
                label: "taux de réussite",
                backgroundColor: ["green", "red","yellow","blue"],
                data: [100,200,400,300]            
            }]
            },
            options: {
            title: {
                display: true,
                text: 'nombre de soumissions pour ce cours'
            }
            }
        });
    </script>
    
    <p>
        source:
    </p>
</body>
</html>
